/*head*/
#btn_shouye{
    margin-top:10px;
    float: right;
}
#nav_inte span{
    /*display: block;*/
    float: right;
    margin-top:13px;
    display: none;
}
em{
    font-style: normal;
}
.panel_content div:first-child{
    font-size: 22px;
}
.panel_content div span{
    display: inline-block;
    width:30%;
    float: right;
    font-size:1rem;
}
#list_group li span,em{
    display: inline-block;
    /*float:left;*/
    text-align: center;
}
#list_group li span{
    width: 20%;

}
#list_group li em{
  font-style: normal;
    width:75%;
}
.border{
    border:1px solid #AAC0C7;
    border-radius: 5px;
    height: 460px;
    overflow: hidden;
    padding: 0;
}
.body_h6{
    font-size: 20px;
    font-weight: bold;
    background: #2070B1;
    margin:0;
    height:40px;
    line-height: 40px;
}

/*¡Ù—‘“≥√Ê*/
.liuyu_top,.liuyi_btn{
    margin-top: 15px;
}
/*≤Èø¥¡Ù—‘*/
.table_select thead tr th{
    text-align: center;
}
#tbody tr td a{
    display: inline-block;
    margin-left:5px;
}
/**ƒ£Ã¨øÚ**/
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, .7);
    z-index: 999;
    display: block;
}
.modal-dialog {
    width: 90%;
    margin: 50px auto 0 auto;
}
.modal-content {
    background:  #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 0 6px #aaa;
    padding: 20px;
}
.alert {
    border: 1px solid #e4393c;
    border-radius: 2px;
    background: #feeadf;
    color: #e4393c;
    padding: 6px;
    margin: 20px 0;
}
.modal  form input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 6px;
    margin-bottom: 12px;
}
.modal form .submit {
    background: #e4393c;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.modal form .submit:active {
    background: #d03030;
}



/*login*/
.login_bg {
    background: url(../Images/bng_show.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
}
.form_bj{
    border: 1px solid #9C7E5C;
    margin:10% 17%;
    padding:10px 10px ;
    border-radius: 10px;
}
.form_login input{
    height: 40px;
    line-height: 40px;
}